<div  id="Cont" fxLayout="column" fxLayoutAlign="center center">
<mat-card id="container" fxLayout="column" fxLayoutAlign="center center">
      <h3>Your destinations:</h3>
      <div class="cart-item" *ngFor="let item of items;let indexOfelement=index;">
        <p>
          Destination:      &nbsp;<b>{{ item.from }} - {{item.to}} </b> &nbsp;&nbsp;&nbsp;<br>
          Departure-Arrival: &nbsp;<b>{{ item.departureDate }} - {{item.arrivalDate}} </b> &nbsp;&nbsp;&nbsp;<br>
          Departure Time - Arrival Time: &nbsp;<b>{{ item.departureTime }} - {{item.arrivalTime}} </b> &nbsp;&nbsp;&nbsp;<br>
          Your seats: &nbsp;<b>{{ item.seats }}</b> &nbsp;&nbsp;&nbsp;<br>
          Price for person: &nbsp;<b>{{ item.price }}€</b>
          &nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <button (click)="deleteItem(indexOfelement)" class="btn btn-light"><mat-icon>delete</mat-icon></button>
        
      </div>
      <mat-form-field hintLabel="must contain 3 numbers">
        <input 
            matInput
            ngModel
            #codeInput="ngModel"
            code
            name="code"
            type="numbers"
            placeholder="Enter promo code"
            required
        >
        <!-- kraj inputa -->
        <mat-hint> {{ codeInput.value?.length }} / 3</mat-hint>
    </mat-form-field>
      <p fxLayout="row" fxLayoutAlign="space-evenly center" >Total: {{  getTotal() }} € &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-raised-button color="primary" class="btn btn-primary" (click)="checkout()" routerLink="/product"  >Checkout</button>&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<br/>

</mat-card>  
</div>